@import './variables';
.characters-section {
    & div #hide-characters {
        margin-left: 40px;
    }

    .characters-section__images {
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        margin: 20px 20px;

        .character-card {
            width: 35%;
            @include tablet {
                width: 10%;
            }
            margin: 10px 20px;
            .character-image {
                border-radius: 15px;
                box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px,
                    rgba(255, 255, 255, 0.23) 0px 6px 6px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            &:hover {
                //cursor: pointer;
                transform: scale(1.05);
                transition-duration: 1s;
            }
        }
    }
}
