@import './variables';

.detail {
    &-main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        //align-items: center;
        margin: 40px;
        @include desktop {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    & .detail-view {
        display: flex;
        flex-direction: column;
        margin: 10px;

        &__trailer iframe {
            border: none;
            width: 100%;
            height: 340px;
        }

        /*  &__toggle-characters {
            cursor: pointer;
            text-decoration: underline;
        } */
    }

    & .detail-view-multimedia {
        margin: 10px;

        &__image-container {
            min-width: 40%;
            @include tablet {
                display: flex;
                justify-content: center;
            }
        }

        &__image {
            border-radius: 8px;
            box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px,
                rgba(255, 255, 255, 0.23) 0px 6px 6px;
            max-width: 100%;
        }
    }

    /* & .characters-section__images {
        display: flex;
        flex-wrap: wrap;
        color: black;

    } */
}
